body {
    font-family: Arial;
    background-image: linear-gradient(to right, rgb(40, 96, 201), rgb(90, 131, 207));
    color: white;
    text-align: center;
}

input[type=number] {
    width: 50px;
    font-size: 16px;
}

.text-input {
    width: auto;
}

.box {
    width: 40%;
    height: auto;
    background-color: azure;
    border-radius: 5%;
    color: rgb(33, 34, 37);
    font-size: 18px;
    margin-top: 5%;
    padding-top: 2%;
    box-shadow: 5px 5px 5px rgb(0, 42, 119);
    padding-bottom: 2%;
}

.btn {
    background-color: rgb(90, 131, 207);
    border-color: rgb(90, 131, 207);
    color: white;
    border-color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10%;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(0, 42, 119);
    border-color: rgb(0, 42, 119);
    color: white;
    cursor: pointer;
}

.contagem {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

footer {
    padding-top: 3%;
    font-weight: bold;
}